/* Vida en Armonia */

body { font-family: 'Noto Serif', sans-serif; font-size: 12pt; }

h1 { font-size: 1.6rem; margin-top: 1.4rem; }
h2 { font-size: 1.4rem; margin-top: 1.4rem; }
h3 { font-size: 1.2rem; margin-top: 1.4rem; }
h4 { font-size: 1.0rem; margin-top: 1.2rem; }
h5 { font-size: 0.8rem; }
h6 { font-size: 0.6rem; }

a         { color: #330099; text-decoration: none; }
a:focus,
a:hover   { color: #003060; text-decoration: underline; }
a:active,
a:visited { color: #330099; text-decoration: none; }

pre {
    font-family: 'Droid Sans Mono','Liberation Mono',monospace;
    font-size: 12pt;
    background: none repeat scroll 0 0 #F0F0F0;
    font-style: normal;
    letter-spacing: 0.015em;
    line-height: 130%;
    padding: 0.7em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

blockquote {
    padding: 0.7em;
    font-size: 1.2em;
}

hr {
    border-top: 1px solid #888;
}

/* Navigation */

#mainNav {
    position: absolute;
    background-color: white;
    border-bottom: 1px solid white;
}

/* Used by vida-en-armonia.js to show the main navigation when scroll ups */
@media only screen and (min-width: 992px) {
    #mainNav {
        border-bottom: 1px solid transparent;
    }
    #mainNav.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -57px;
        -webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;
        border-bottom: 1px solid #888;
    }
    #mainNav.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.navbar-brand         { color: #212529; text-decoration: none; font-family: 'Cookie', cursive; font-size: 2em; }
.navbar-brand:focus,
.navbar-brand:hover   { color: #003060; text-decoration: underline; }
.navbar-brand:active,
.navbar-brand:visited { color: #212529; text-decoration: none; }

.navbar-light .navbar-nav a.nav-link         { color: #808080; text-decoration: none; }
.navbar-light .navbar-nav a.nav-link:focus,
.navbar-light .navbar-nav a.nav-link:hover   { color: #003060; text-decoration: underline; }
.navbar-light .navbar-nav a.nav-link:active,
.navbar-light .navbar-nav a.nav-link:visited { color: #808080; text-decoration: none; }

/* Headers */

.header-welcome {
    margin-top: 70px; /* give space to mainNav */
    background-color: #EEE;
    padding: 60px 0;
}
.header-welcome-jumbotron {
    background-color: #FFF;
}
.site-name {
    color: #222;
}
.site-description {
    color: #888;
    font-size: 0.8em;
}
.img-welcome { padding: 4px; }

/* Sections */

.section-servicios {
    font-size: 1.2em;
    background-color: #DDD;
    padding: 80px 0;
}
.section-testimonios {
    font-size: 1.2em;
    background-color: #EEE;
    padding: 80px 0;
}
.section-contacto {
    font-size: 1.2em;
    background-color: #FFF;
    padding: 80px 0;
}
.section-servicios h2,
.section-testimonios h2,
.section-contacto h2 { font-family: 'Cookie', cursive; font-size: 2.6em; }

/* Pelican index, article, page */

.index-title {
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}
.index-article-title {
    margin-top: 0;
}

.article-post {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}
.article-post-title {
    margin-bottom: 0.5rem;
}
.article-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

.page-post {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}
.page-post-title {
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}

/* Aside */

.aside-about {
    font-size: 0.8rem;
}
.card {
    border: 1px solid #888;
}
.card-header {
    border-bottom: 1px solid #888;
}
.list-group-item {
    border: 1px solid #888;
}

a.card-link         { color: #000000; text-decoration: none; }
a.card-link:focus,
a.card-link:hover   { color: #003060; text-decoration: underline; }
a.card-link:active,
a.card-link:visited { color: #000000; text-decoration: none; }

/* Footer */

footer {
    padding-top: 180px;
    padding-bottom: 40px;
    background-color: #FFF;
}
